p.class {
    width: 400px;
    height: 200px;
    border: 5px solid pink; 
    padding: 15px; /*внутрішній відступ текста*/
    padding-left: 5px; /*внутрішній відступ текста only left*/
    margin: 50px; /*зовнішній відступ з усіх сторін до ін. елементів*/
    background-color: blanchedalmond;
}
div{
    width: 250px;
    height: 70px;
    padding: 15px;
    /*margin: auto;*/
    margin: 20px;
    background-color: rgb(33, 177, 74);
    border-radius: 10px;
    font-weight: bold;
    color:whitesmoke;
    font-size: 20px;
    text-align:center;

    line-height: 70px;
    cursor: pointer;
    user-select: none;
    box-shadow:12px 12px 2px 1px rgb(0 0 255 / 0.2);
}
div:hover{ /*styles an link on mouse over*/
    background-color: brown;
}
div:active{ /*styles an activated link*/
    background-color: cornflowerblue;
}


button {
    width: 250px;
    height: 70px;
    padding: 15px;
    margin: 20px;
    background-color: rgb(33, 177, 74);
    border-radius: 10px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
    border: none;
    display: block;
}

button:hover {
    background-color: brown;
}

button:active {
    background-color: cornflowerblue;
}


a:link{ /*styles unvisited link for<a>*/
    color:antiquewhite;
}
a:visited{ /*styles visited link for<a>*/
    color:blueviolet;
}
#div1{
    position:absolute;
    background-color: burlywood;
    left:400px;
    top:200px;
    z-index: 10;
}
#div2{
    position:absolute;
    background-color: blueviolet;
    left:500px;
    top:160px;
    z-index: 5;
}